* {
  margin: 0;
  padding: 0;
  color: cyan;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: darkslategrey;
}

main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

#url-field {
  padding: 2vw;
  width: 50vw;
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-bottom: solid cyan;
  background-color: darkslategrey;
}

#url-field:focus {
  border: solid cyan;
  border-radius: 10px;
}

#url-btn {
  padding: 2vw;
  border-radius: 10px;
  outline: none;
  border: solid;
  background-color: darkslategrey;
  font-size: 1.2rem;
}

#result {
  padding: 2vw 0 0 0;
  cursor: default;
  font-size: 1.2rem;
}
